body {
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem 0;
}

.header__title {
  color: var(--bg-green);
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 0;
  display: inline-flex;
}

.header__title::before {
  content: attr(data-text);
  color: var(--bg-bright );
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  animation: filling 5s linear infinite;
  border-right: 3px solid var(--bg-green);
}

@keyframes filling {
  0%, 10%, 100% {
    width: 0;
  }
  70% , 90%{
    width: 100%
  }
}

.contents {
  height: 100%;
  background-color: rgba(250, 250, 250, 1);
  z-index: 0;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: auto;
  width: 240px;
  padding: 1rem;
  border-radius: 0.8em;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card__title {
  font-size: 2rem;
  font-weight: 500;
}

.card__theme_text-bright:hover {
  color: var(--font-bright);
}

.card_theme_red::before {
  content: " ";
  position: absolute ;
  top: 0;
  left: 0;
  height: 100%;
  width: 0.2em;
  transition: width 0.5s ease;
  background-color: var(--bg-red);
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  z-index: -1;
}

.card_theme_red:hover::before {
  color: var(--bg-bright);
  width: 100%;
}

.card_theme_bright::before {
  content: " ";
  position: absolute ;
  bottom:  0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0.2em;
  transition: height 0.5s ease;
  background-color: var(--bg-bright);
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.card_theme_bright:hover::before {
  height: 100%;
}

.card_theme_git-mod::before {
  content: " ";
  position: absolute ;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 0.2em;
  transition: width 0.5s ease;
  background-color: var(--bg-git);
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.card_theme_git-mod:hover::before {
  width: 100%;
}

.card_theme_green::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 0.2em;
  width: 100%;
  transition: height 0.5s ease;
  background-color: var(--bg-green);
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.card_theme_green:hover::before {
  height: 100%;
}

.card_button {
  display: flex;
  align-self: start;
  border-radius: 0.2em;
  background-color: transparent;
  padding: 0.2rem  1rem 0.2rem 1rem;
}

.card_button:hover {
  color: var(--font-bright);
  background-color: var(--font-dark);
} 